@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    position: relative;
    width: 700px;
    height: 500px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    overflow-y: hidden;
	padding: 30px;
    transition: .5s ease;
}

.homeWrapper {
    height: 400px; /* Desired height for the Home component */
    width: 700px; 
    transition: .5s ease;
}

.submitWrapper {
    height: 600px; /* Desired height for the Submit component */
    width: 700px; 
    transition: .5s ease;
}

.uploadedWrapper {
    height: 500px; /* Desired height for the Uploaded component */
    width: 700px; 
    transition: .5s ease;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    color:#f9d394;
    text-align: center;
    margin-top: 0;
}

p {
    text-align: center;
}

body {
    font-size: 1em;
    font-weight: 500;
    color: rgb(255, 230, 191);
}

.btnCustom{
    width: 100%;
    height: 45px;
    background: rgb(92, 0, 31);
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: rgb(255, 230, 191);
    font-weight: 500;
    box-shadow: 5px 5px 3px rgba(46, 46, 46, 0.62);
    margin-top: 10px;
}

.btnCustom:hover{
    background-color: #3A0819;
    color: rgb(255, 230, 191);
}

.btnCustom:active{
    background-color: #4E041D;
}

.inputBox { 
    width: 100%;
    position: relative;
    height: 50px;
    border-bottom: 2px solid rgb(255, 230, 191);
    margin: 30px 0px 10px 0px;
}

.inputBox input, 
.inputBox input:focus{
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: rgb(255, 230, 191);
    font-weight: 600;
    box-shadow: none;
    padding:0%;
}

.inputBox input::placeholder{
    color:rgb(199, 169, 121);
}

.inputBox .eyeBtn {
    background: transparent;
    border: none;
    color: rgb(255, 230, 191);
}

.resetPass {
    color:rgb(255, 230, 191)
}

.resetPass:hover {
    color:#E6B451
}

.formContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    padding: 10px;
    justify-content: center;
}

.customRow {
    background-color:rgba(46, 46, 46, 0.62); /* Specify your desired color for even rows */
}

.customLabel {
    background-color: #eeeeee; /* Specify your desired color for labels */
    color:rgb(199, 169, 121)
}

.customData {
    background-color: #ffffff; /* Specify your desired color for data cells */
    color:rgb(255, 230, 191)
}

td a, li a {
    color:rgb(255, 230, 191)
}

td a:hover, li a:hover {
    color:#E6B451
}